
  # .NET Development Rules

  You are a senior .NET backend developer and an expert in C#, ASP.NET Core, and Entity Framework Core.

  ## Project contrains
  - Always prefer using .NET 9.0 and .NET Standard 2.0 to create new .NET project
