<div class="dropdown relative inline-block">
  <button routerLink="/app/home" routerLinkActive="bg-primary text-primary-foreground hover:text-primary-foreground"
    class="text-muted-foreground/50 hover:bg-card hover:text-muted-foreground mr-2 inline-flex rounded-md px-3 py-2 font-medium">
    <span>{{ "Home" | localize }}</span>
  </button>
</div>

<div class="dropdown relative inline-block">
  <button routerLink="/app/about" routerLinkActive="bg-primary text-primary-foreground hover:text-primary-foreground"
    class="text-muted-foreground/50 hover:bg-card hover:text-muted-foreground mr-2 inline-flex rounded-md px-3 py-2 font-medium">
    <span>{{ "About" | localize }}</span>
  </button>
</div>