//
// Indicator
//

.indicator-progress {
    display: none;

    [data-ui-indicator="on"] > & {
        display: inline-block;
    }
}

.indicator-label {
    [data-ui-indicator="on"] > & {
        display: none;
    }
}