<div [@routerTransition]>
  <form class="my-10 space-y-6" #form="ngForm" (ngSubmit)="submit()">
    <div class="text-center">
      <h2 class="text-foreground mb-1 text-3xl font-semibold">Sign Up <span class="text-primary">!</span></h2>
      <p class="text-muted-foreground text-sm">Let's get started with your 30 day free trial</p>
    </div>

    <button class="mb-0 w-full! h-[48px]! shadow-none!" mat-fab extended type="button">
      <div class="flex items-center justify-center">
        <img src="/svg/icons/google-logo.svg" class="w-[28px]" />
        &nbsp;Log in with Google
      </div>
    </button>

    <div
      class="before:border-muted after:border-muted my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t after:mt-0.5 after:flex-1 after:border-t">
      <p class="text-muted-foreground mx-4 mb-0 text-center text-sm">or</p>
    </div>

    <div class="space-y-1 text-left mb-0">
      <div class="flex flex-row space-x-3">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ "Name" | localize }}</mat-label>
          <input matInput id="name" name="name" required maxlength="32" type="text" [(ngModel)]="model.name" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ "Surname" | localize }}</mat-label>
          <input matInput id="surname" name="surname" required maxlength="32" type="text" [(ngModel)]="model.surname" />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ "EmailAddress" | localize }}</mat-label>
        <input matInput id="emailAddress" name="emailAddress" required maxlength="32" type="email"
          [(ngModel)]="model.emailAddress" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ "UserName" | localize }}</mat-label>
        <input matInput id="userName" name="userName" required maxlength="32" type="text"
          [(ngModel)]="model.userName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ "Password" | localize }}</mat-label>
        <input matInput id="password" name="password" required maxlength="32" type="password"
          [(ngModel)]="model.password" />
      </mat-form-field>
    </div>

    <!-- Submit Button -->
    <button class="mb-0 w-full! h-[56px]! text-lg!" mat-flat-button type="submit" [disabled]="submitting || !form.form.valid">
      {{ "Register" | localize }}
    </button>

    <!-- Sign-in -->
    <div class="text-muted-foreground text-center mt-6">
      Already have an Account?&nbsp;
      <a type="button" routerLink="/auth/login" class="text-primary font-bold">
        {{ "LogIn" | localize }}
      </a>
    </div>
  </form>
</div>