name: (Reusable) Frontend Unit Tests

on:
  workflow_call:

jobs:
  frontend_unit_tests:
    name: Frontend Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/datntdev.Microservices.Angular
    steps:
      - uses: actions/checkout@v4
      - name: Cache NPM modules
        uses: actions/cache@v4
        with:
          path: |
            apps/datntdev.Microservices.Angular/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('apps/datntdev.Microservices.Angular/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Setup NODEJS
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install NPM dependencies
        run: yarn install --frozen-lockfile
      - name: Run unit tests with coverage
        run: yarn ng test --code-coverage --watch=false --browsers=ChromeHeadless
