name: (Reusable) Backend Unit Tests

on:
  workflow_call:

jobs:
  backend_unit_tests:
    name: Backend Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup DOTNET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Setup NODEJS
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Cache NET packages
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Cache NPM modules
        uses: actions/cache@v4
        with:
          path: |
            apps/datntdev.Microservices.Angular/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('apps/datntdev.Microservices.Angular/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Start docker-compose infrastructure services.
        run: docker compose -f .github/dockers/docker-compose.yml -p datntdev_microservices_infra up -d
      - name: Trust ASP.NET Core HTTPS development certificate
        run: dotnet dev-certs https --trust
      - name: Install NPM dependencies
        working-directory: apps/datntdev.Microservices.Angular
        run: yarn install --frozen-lockfile
      - name: Install NET dependencies
        run: dotnet restore --no-dependencies
      - name: Install ReportGenerator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool
      - name: Build Visual Studio solution
        run: dotnet build --no-restore --configuration Release
      - name: Run the database migrations
        run: dotnet run --project ./infra/datntdev.Microservices.Migrator/datntdev.Microservices.Migrator.csproj
      - name: Run unit tests with coverage
        run: |
          dotnet test --no-build --configuration Release \
          --results-directory ./TestResults --collect:"XPlat Code Coverage" \
          -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.ExcludeByAttribute=*.Tests*
      - name: Generate coverage report
        run: |
          reportgenerator \
          -reports:TestResults/**/coverage.cobertura.xml \
          -targetdir:CoverageReport \
          -reporttypes:TextSummary \
          -assemblyfilters:"-*.Tests*"
          cat CoverageReport/Summary.txt
